@import "../_font";
@include font-face(
  "GMarketSansLight",
  "../assets/fonts/GmarketSansTTFLight.ttf"
);

.campaign-auth {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "GMarketSansLight", sans-serif;

    button {
      outline: none;
      border: none;
      width: 80px;
      height: 30px;
      border-radius: 15px;
      background-color: #5db075;
      color: white;
      font-family: "GMarketSansLight", sans-serif;
      align-self: flex-end;
    }

    input[type="text"] {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 25px;
      background: #3e935e1a;
      box-sizing: border-box;
      padding: 0 25px;
      font-family: "GMarketSansLight", sans-serif;

      &::placeholder {
        color: #706c6c;
        font-family: "GMarketSansLight", sans-serif;
      }
    }

    textarea {
      border: none;
      outline: none;
      resize: none;
      background: none;
      width: 100%;
      height: 250px;
      border-radius: 25px;
      background: #3e935e1a;
      box-sizing: border-box;
      padding: 20px 25px;
      font-family: "GMarketSansLight", sans-serif;

      &::placeholder {
        color: #706c6c;
        font-family: "GMarketSansLight", sans-serif;
      }
    }

    .filebox {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 25px;
      background: #3e935e1a;

      input {
        padding: 0 25px;
        border: none;
        outline: none;
        background: none;
      }

      label {
        width: 40%;
        border-radius: 25px;
        background: #5db075;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
      }

      input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
      }
    }
  }
}
